// breakpoints
// https://getbootstrap.com/docs/4.0/layout/grid/#grid-options
$responsive-breakpoints: (
  sm:   576px,
  md:   768px,
  lg:   992px,
  xl:   1200px,
  xxl:  1600px
);

//colours
$main-background: #f9fafb;
$light-background: #ffffff;
$border-color: #adadad30;
