@import "mixins";

.photo {
  img {
    max-height: 40rem;
    object-fit: cover;
    width: 100%;
    transition: transform .5s;
    &:hover {
      transform: scale(1.3);
      z-index: 1;
      position: absolute;
      @include if-bigger-than(md){
        margin-left: 22%;
      }
    }
  }
}


