@import "mixins";

@include if-bigger-than(xxl) {
  .image-tile-grid {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@include if-between(md, xl) {
  .image-tile-grid {
    flex: 0 0 33%;
    max-width: 33%;
  }
}

.image-tile-grid {
  padding: 0.8rem;
}
